<!DOCTYPE html>
<html lang="es">

<head>
    <!--  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  -->
    <title>Usuario | Colaboradores</title>
    <!--  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" ;>
        <a class="navbar-brand" href="{{ url_for('usuario') }}">Quarium Usuario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('usuario') }}" style="color: white;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('colaboradores') }}" style="color: white;">colaboradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('comentarios') }}" style="color: white;">Comentarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: white;">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center mt-5 mb-5 text-white">Lista de Colaboradores</h1>
    </div>

    <div class="container">
        <div class="row">
            {% for empleado in empleados %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            {%if empleado.foto_perfil%}
                            <div class=" me-3">
                                <img src="data:image/jpeg;base64,{{empleado.foto_perfil}}" alt="{{ empleado.nombre }}"
                                    style="width: 150px; height: 150px; border-radius: 50%;">
                            </div>
                            {%else%}
                            <div class="me-3">
                                <img src="/static/images/user_icon.jpg" alt="{{ empleado.nombre }}"
                                    style="width: 150px; height: 150px; border-radius: 50%;">
                            </div>
                            {%endif%}
                            <div class="txt">
                                <h5>{{ empleado.nombre }}</h5>
                                <small>Area Laboral</small>
                                <p>{{ empleado.area_laboral }}</p>
                                <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
                                    data-target="#info{{ empleado._id }}" aria-expanded="false"
                                    aria-controls="info{{ empleado._id }}">
                                    Más Información
                                </button>
                                {% if empleado.cv %}
                                <input type="hidden" name="empleado_id" value="{{ empleado._id }}">
                                <a href="/descargar_cv/{{empleado._id}}" class="btn btn-primary btn-sm">Descargar CV</a>
                                {% else %}
                                <small>No hay CV disponible</small> {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="info{{ empleado._id }}">
                        <div class="card-body">
                            <small>Area Laboral</small>
                            <input type="text" class="form-control" value="{{ empleado.area_laboral }}"
                                name="area_laboral" readonly>
                            <small>Genero</small>
                            <input type="text" class="form-control" value="{{ empleado.genero }}" name="genero"
                                readonly>
                            <small>Fecha</small>
                            <input type="text" class="form-control" value="{{ empleado.fecha }}" name="fecha" readonly>
                            <small>Teléfono</small>
                            <input type="text" class="form-control" value="{{ empleado.telefono }}" name="telefono"
                                readonly>
                            <small>Correo</small>
                            <input type="text" class="form-control" value="{{ empleado.correo }}" name="correo"
                                readonly>
                            <small>Ubicación</small>
                            <input type="text" class="form-control"
                                value="{{ empleado.estado }}, {{ empleado.municipio }}, {{ empleado.ciudad }}, {{ empleado.cp }}"
                                name="ubicacion" readonly>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>